<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <!-- Configuration of the page style with the css file -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Appointments {% endblock %}</title>
    {% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/vet/appointments.css' %}">
    <script src="https://kit.fontawesome.com/b685c17320.js" crossorigin="anonymous"></script>
    {% endblock additional_styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    

</head>

<body>
   <main>
        {% block content %}
        <!-- Page to show the appointments of a vet -->
        <div class="all"  id="start">
        <h1>Your Appointments</h1>
            
        <div class="new-appointment" style="text-align: center;">
            <a href="{% url 'owners_select' %}" class="btn" style="margin-right: 3%;">Schedule Appointment</a>
            <a href="#attended" id="go-up-button" class="btn"><i class="fa-solid fa-circle-chevron-up fa-bounce" style="color: #bdd7ff; text-shadow: 4px;"></i>See attended</a>
        </div>
        
        <!-- show alll the appointments with its respective fields -->
        <div class="appointments-list">
            {% for appointment in appointments %}
            {% if not appointment.attended %}
            <div class="appointment-card">
                <div class="card-content p-3 mx-2">
                    <span>{{ appointment.date }} Appointment</span>
                    <p><strong>Dog:</strong> {{ appointment.dog.name }}</p>
                    <p><strong>Time:</strong> {{ appointment.time }}</p>
                    <p><strong>Appointment Type:</strong> {{ appointment.appointment_type }}</p>           

                    <div class="button-container">
                        <a href="{% url 'manage_appointment' appointment_id=appointment.id %}" class="edit-button">Manage</a>
                    </div>

                </div>

            </div>
            {% endif %}
            {% endfor %}
        </div>
        <h1 id="attended">Attended</h1>
        <div class="appointments-list">
            {% for appointment in appointments %}
            {% if appointment.attended %}
            <div class="appointment-card">
                <div class="card-content p-3 mx-2">
                    <span>{{ appointment.date }} Appointment</span>
                    <p><strong>Dog:</strong> {{ appointment.dog.name }}</p>
                    <p><strong>Time:</strong> {{ appointment.time }}</p>
                    <p><strong>Appointment Type:</strong> {{ appointment.appointment_type }}</p>          

                    <div class="button-container">
                        <a href="{% url 'new_record' dog_id=appointment.dog.id %}" class="edit-button">Add Medical Record</a>
                    </div>

                </div>

            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!--button to go up un the page-->
        <a href="#start" id="go-up-button"><i class="fa-solid fa-circle-chevron-up fa-bounce" style="color: #bdd7ff; text-shadow: 4px;"></i></a>
    </div>
        {% endblock content %}
    </main>

</body>
</html>
