<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <!-- Configuration of the page style with the css file -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Appointments {% endblock %}</title>
    {% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/vet/appointments.css' %}">
    <script src="https://kit.fontawesome.com/b685c17320.js" crossorigin="anonymous"></script>
    {% endblock additional_styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    

</head>

<body>
   <main>
        {% block content %}
        <!-- Page to show the appointments of a vet -->
        <div class="all"  id="start">
        <h1>Medical Record created, 
            Make sure you fill out the rest of the information</h1>
            <div class="button-container">
                <a href="{% url 'appointment' %}" class="edit-button">Back</a>
                <a href="{% url 'patients' %}" class="edit-button">Go to patients</a>
            </div>
        </div>
        {% endblock content %}
    </main>

</body>
</html>
