<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

<html lang="en">
    <!-- Configuration of the page style with the css file -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} EDIT MEDICAL RECORD {% endblock %}</title>
        {% block additional_styles %}
        <link rel="stylesheet" href="{% static 'css/vet/edit_medical_record.css' %}">
        <script src="https://kit.fontawesome.com/b685c17320.js" crossorigin="anonymous"></script>
        {% endblock additional_styles %}
        
    </head>

    <body>
        <main>
            {% block content %}
            <div class = "all">
                
             <h2>EDIT MEDICAL RECORD</h2>
             <!-- show all the medicalRecord fields with its current value  -->
             <form method="post" enctype="multipart/form-data" class="custom-form">
                
                    <div class="form-container">
                        {% csrf_token %}
                        <div class="img">
                            <h2>{{dog.name}}</h2>
                            <img src="{{ dog.image.url }}" alt="{{ dog.name }} Image" style="border-radius: 50%; width: 380px; max-width: 100%; height: 370px; border: 8px solid rgb(189, 215, 255); box-shadow: 0px 1px 10px #bdd7ff;">
                        </div>  
                        <div class="fields-container">
                            
                            <div class="field">
                                <label for="{{ form.date.id_for_label }}" class="icon">
                                    <i class="fa-solid fa-calendar-days"></i>
                                </label>
                                {{ form.date.label_tag }}
                                {{ form.date }}
                                {% if form.date.errors %}
                                    <p class="error">{{ form.date.errors }}</p>
                                {% endif %}
                            </div>

                            <div class="field">
                                <label for="{{ form.appointmentType.id_for_label }}" class="icon">
                                    <i class="fa-solid fa-hand-holding-medical"></i>
                                </label>
                                <span class="bold-text" style="font-weight: bold;">Appointment Type:</span>
                                {{ form.appointmentType }}
                            </div>

                            <div class="field">
                                <label for="{{ form.symptoms.id_for_label }}" class="icon">
                                    <i class="fa-solid fa-file-waveform"></i>
                                </label>
                                {{ form.symptoms.label_tag }}
                                {{ form.symptoms }}
                            </div>

                            <div class="field">
                                <label for="{{ form.treatment.id_for_label }}" class="icon">
                                    <i class="fa-solid fa-syringe"></i>
                                </label>
                                {{ form.treatment.label_tag }}
                                {{ form.treatment }}
                            </div>

                            <div class="field">
                                <label for="{{ form.recommendations.id_for_label }}" class="icon">
                                    <i class="fa-solid fa-book-medical" style="transform: translateY(-30px);"></i>
                                </label>
                                {{ form.recommendations.label_tag }}
                                {{ form.recommendations }}
                            </div>
                            
                        </div>
                    </div>
                
                    <!-- Buttons to confirm changes and back to the last page -->
                    <div class="button-container">
                        <a id="cancel-button" href="{% url 'medical_record' dog_id=dog.id %}">Back</a>
                        <button type="submit">Save Changes</button>
                    </div>
                    
             </form>

            </div>
                


            
            {% endblock content %}
        </main>
        
    </body>
</html>