<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <!-- Configuration of the page style with the css file -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{dog.name}}'s Medical Record {% endblock %}</title>
    {% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/medical_record.css' %}">
    <script src="https://kit.fontawesome.com/b685c17320.js" crossorigin="anonymous"></script>
    {% endblock additional_styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    

</head>

<body>
   <main>
        {% block content %}
        <!-- Page to show the medicalRecord of a dog -->
        <div class="all"  id="start">
        <h1>{{dog.name}}'s Medical Record</h1>

        <div class="img">
            <img src="{{ dog.image.url }}" alt="{{ dog.name }} Image" style="border-radius: 50%; width: 200px; height: 180px; border: 8px solid rgb(189, 215, 255); box-shadow: 0px 1px 10px #bdd7ff;">
        </div>    
        <div class="new-record" style="text-align: center;">
            <a href="{% url 'new_record' dog_id=dog.id %}" class="btn">New Record</a>
        </div>
        <!-- Creation of the search bar and the filters -->
        <form action="" class="search-record-bar">
        
        <div class="search_group">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" class="form-control" name="searchRecord" placeholder="Search record...">
        </div>
            
        
            
            
            <div class="search-filter">
                <i class="fa-solid fa-arrow-down-wide-short"></i>
                <select class="form-control" name="filterRecord">
                    <option value="all">All</option>
                    <option value="date">YY-MM-DD Date</option>
                    <option value="appointmentType">Appointment Type</option>
                    <option value="symptoms">Symptoms</option>
                    <option value="treatment">Treatment</option>
                    <option value="recommendations">Recommendations</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <!-- show alll the records with its respective fields -->
        <div class="records-list">
            {% for record in medical_records %}
            <div class="record-card">
                <div class="card-content p-3 mx-2">
                    <span>{{ record.date }} Appointment</span>
                    <p><strong>Appointment Type:</strong> {{ record.appointmentType }}</p>
                    <p><strong>Symptoms:</strong> {{ record.symptoms }}</p>
                    <p><strong>Treatment:</strong> {{ record.treatment }}</p>
                    <p><strong>Recommendations:</strong> {{ record.recommendations }}</p>
                    

                    <div class="button-container">
                        <a href="{% url 'edit_medical_record' dog_id=dog.id  record_id=record.id%}" class="edit-button">Edit</a>
                    </div>

                </div>

            </div>
            {% endfor %}
            
        </div>
        <a href="#start" id="go-up-button"><i class="fa-solid fa-circle-chevron-up fa-bounce" style="color: #bdd7ff; text-shadow: 4px;"></i></a>
    </div>
        {% endblock content %}
    </main>

</body>
</html>
