<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} My Patients {% endblock %}</title>
    {% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/patients.css' %}">
    {% endblock additional_styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
   <main>
        {% block content %}
        
        <h2>MY PATIENTS</h2>

        <form action="" class="search-bar">
            <input type="text" class="form-control" name="searchTerm" placeholder="Search...">
            <!-- Dropdown for the filters -->
            <div class="search-filter">
                <select class="form-control" name="filter">
                    <option value="all">All</option>
                    <option value="name">Name</option>
                    <option value="owner">Owner</option>
                    <option value="birthdate">Birthdate</option>
                    <option value="breed">Breed</option>
                    <option value="weight">Weight</option>
                    <option value="gender">Gender</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <div class="new-patient">
            <a href="{% url 'dog_register' %}" class="btn">New Patient</a>
        </div>   
        
        <div class="dog-list">
            {% for dog in dogs %}
            <div class="dog-card">
                <a href="{% url 'dog_profile' dog.id %}">
                    <img src="{{ dog.image.url }}" alt="Image">
                </a>
                <div class="card-content p-3 mx-2">
                    <h2>{{ dog.name }}</h2>
                    <p>Owner: {{ dog.owner.name }} </p>
                    <p>Birthdate: {{ dog.birthdate }} </p>
                    <p>Breed: {{ dog.breed }} </p>
                    <p>Weight: {{ dog.weight }} </p>
                    <p>Gender: {{ dog.gender }} </p>
                    
                    <div class="card-button">
                        <a href="{% url 'recomendations' dog_id=dog.id %}" class="btn">Recommendations</a>
                        <a href="{% url 'medical_record' dog_id=dog.id %}" class="btn">Medical Record</a>
                        <a href="{% url 'vaccination_card' dog_id=dog.id  %}" class="btn">Vaccination card</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock content %}
    </main>

</body>
</html>