<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recomendations for {{dog.name}} {% endblock %}</title>
    {% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/dog_register.css' %}">
    {% endblock additional_styles %}
    {% block additional_scripts %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    {% endblock additional_scripts %}
</head>
<body>
    <main>
        {% block content %}
        <h1>Recomendations for {{dog.name}}</h1>
        <img src="{{ dog.image.url }}" alt="{{ dog.name }} Image" style="border-radius: 50%; width: 500px; height: 500px;">

        {% endblock content %}
    </main>
</body>
</html>