<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
    <!-- Configuration of the page style with the css file -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Statistics {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300" rel="stylesheet" />
    {% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/vet/vaccination_card_edit.css' %}">
    {% endblock additional_styles %}
</head>

<body>
    {% block content %}
        {% if vaccine == 1%}
            <h1>Pentavalent 1</h1>
        {% else %}
            <h1>No identificado</h1>
        {% endif %}
    <form method="post" enctype="multipart/form-data" class="custom-form">
        <div class="container">
            <div class="form-container">
                {% csrf_token %}
                <div class="img" style="padding-right:3%;">
                    <img src="{% static 'img/DogFootPrint-Gray.png' %}">
                </div>
                <div class="field">
                    <label for="{{ form.date.id_for_label }}" class="icon">
                        <i class="fa-solid fa-calendar-days"></i>
                    </label>{{ form.date.label_tag }}</label>
                    {{form.date}}
                    {% if recordform.date.errors %}
                        <p class="error">{{ form.date.errors }}</p>
                    {% endif %}
                </div>
                <div class="field">
                    <label for="{{ form.appointmentType.id_for_label }}" class="icon">
                        <i class="fa-solid fa-hand-holding-medical"></i>
                    </label>
                    <label>Brand of vaccine</label>
                    {{ form.vaccinebrand }}
                    {% if form.vaccinebrand.errors %}
                        <p class="error">{{ form.vaccinebrand.errors }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
    {% endblock content %}
</body>

</html>