<!DOCTYPE html>

{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vet Clinic{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/logo_tab.png' %}">
    <link rel="stylesheet" href="{% static 'css/vet/vaccination_card.css' %}">
    {% block additional_styles %}
    {% endblock additional_styles %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block additional_scripts %}
    {% endblock additional_scripts %}
</head>

<body>
    <header>
        <div class="container-top-bar">
            <div class="top-bar">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png' %}" alt="Logo">
                </a>
            </div>
        </div>

        <nav class="nav-bar">
            <div class="greeting">
                {% if user.is_authenticated %}
                <h3>Hi, {{ user.username }}</h3>
                {% endif %}
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="{% url 'manage_vet' %}">Account</a></li>
                    <li><a href="{% url 'patients' %}">Patients</a></li>
                    <li><a href="{% url 'appointment' %}">Appointments</a></li>
                    <li><a href="{% url 'statistics' %}">Statistics</a></li>
                    <li><a href="{% url 'show_clinic' %}">My Clinic</a></li>
                    <li><a href="{% url 'news' %}">News</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        <h1>{{ dog.name }} vaccination card</h1>
        <table>
            <tr>
                <th>
                    <img src="{% static 'img/logo_tab.png' %}" width="50%" height="50%">
                </th>
                <th>Pentavalent</th>
                <th>Parvovirus</th>
                <th>Coronavirus</th>
                <th>Rabies</th>
                <th>Kennel cough</th>
            </tr>
            <tr>
                <td>8 Week</td>
                <td>
                    {% if vac_card.pentavalent_1 == False %}
                    <form action="{% url 'vaccination_card_edit' vac_card.id dog.id 1 %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'img/DogFootPrint-Gray.png' %}" width="25%" height="25%">
                        </button>
                    </form> 
                    {% else %}
                    <form action="{% url 'vaccination_card_info' vac_card.id dog.id 1 %}" method="post">
                        {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'img/DogFootPrint-Green.png' %}" width="25%" height="25%">
                            </button>
                    </form>
                    {% endif %}
                </td>
                <td>
                    {% if vac_card.parvoviruz_1 == False %}
                    <form action="{% url 'vaccination_card_edit' vac_card.id dog.id 2 %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'img/DogFootPrint-Gray.png' %}" width="25%" height="25%">
                        </button>
                    </form> 
                    {% else %}
                    <form action="{% url 'vaccination_card_info' vac_card.id dog.id 2 %}" method="post">
                        {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'img/DogFootPrint-Green.png' %}" width="25%" height="25%">
                            </button>
                    </form>
                    {% endif %}
                </td>
                <td>
                    {% if vac_card.coronaviruz_1 == False %}
                    <form action="{% url 'vaccination_card_edit' vac_card.id dog.id 3 %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'img/DogFootPrint-Gray.png' %}" width="25%" height="25%">
                        </button>
                    </form> 
                    {% else %}
                    <form action="{% url 'vaccination_card_info' vac_card.id dog.id 3 %}" method="post">
                        {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'img/DogFootPrint-Green.png' %}" width="25%" height="25%">
                            </button>
                    </form>
                    {% endif %}
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>12 Week</td>
                <td>
                    {% if vac_card.pentavalent_2 == False %}
                    <form action="{% url 'vaccination_card_edit' vac_card.id dog.id 4 %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'img/DogFootPrint-Gray.png' %}" width="25%" height="25%">
                        </button>
                    </form> 
                    {% else %}
                    <form action="{% url 'vaccination_card_info' vac_card.id dog.id 4 %}" method="post">
                        {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'img/DogFootPrint-Green.png' %}" width="25%" height="25%">
                            </button>
                    </form>
                    {% endif %}
                </td>
                <td></td>
                <td>
                    {% if vac_card.coronaviruz_2 == False %}
                    <form action="{% url 'vaccination_card_edit' vac_card.id dog.id 5 %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'img/DogFootPrint-Gray.png' %}" width="25%" height="25%">
                        </button>
                    </form> 
                    {% else %}
                    <form action="{% url 'vaccination_card_info' vac_card.id dog.id 5 %}" method="post">
                        {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'img/DogFootPrint-Green.png' %}" width="25%" height="25%">
                            </button>
                    </form>
                    {% endif %}
                </td>
                <td></td>
                <td>
                    {% if vac_card.kennel_cough_1 == False %}
                    <form action="{% url 'vaccination_card_edit' vac_card.id dog.id 6 %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'img/DogFootPrint-Gray.png' %}" width="25%" height="25%">
                        </button>
                    </form> 
                    {% else %}
                    <form action="{% url 'vaccination_card_info' vac_card.id dog.id 6 %}" method="post">
                        {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'img/DogFootPrint-Green.png' %}" width="25%" height="25%">
                            </button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>16 Week</td>
                <td>
                    {% if vac_card.pentavalent_3 == False %}
                    <form action="{% url 'vaccination_card_edit' vac_card.id dog.id 7 %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'img/DogFootPrint-Gray.png' %}" width="25%" height="25%">
                        </button>
                    </form> 
                    {% else %}
                    <form action="{% url 'vaccination_card_info' vac_card.id dog.id 7 %}" method="post">
                        {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'img/DogFootPrint-Green.png' %}" width="25%" height="25%">
                            </button>
                    </form>
                    {% endif %}
                </td>
                <td></td>
                <td>
                    {% if vac_card.coronaviruz_3 == False %}
                    <form action="{% url 'vaccination_card_edit' vac_card.id dog.id 8 %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'img/DogFootPrint-Gray.png' %}" width="25%" height="25%">
                        </button>
                    </form> 
                    {% else %}
                    <form action="{% url 'vaccination_card_info' vac_card.id dog.id 8 %}" method="post">
                        {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'img/DogFootPrint-Green.png' %}" width="25%" height="25%">
                            </button>
                    </form>
                    {% endif %}
                </td>
                <td>
                    {% if vac_card.rabies_1 == False %}
                    <form action="{% url 'vaccination_card_edit' vac_card.id dog.id 9 %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'img/DogFootPrint-Gray.png' %}" width="25%" height="25%">
                        </button>
                    </form> 
                    {% else %}
                    <form action="{% url 'vaccination_card_info' vac_card.id dog.id 9 %}" method="post">
                        {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'img/DogFootPrint-Green.png' %}" width="25%" height="25%">
                            </button>
                    </form>
                    {% endif %}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>19 Week</td>
                <td>
                    {% if vac_card.pentavalent_4 == False %}
                    <form action="{% url 'vaccination_card_edit' vac_card.id dog.id 10 %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'img/DogFootPrint-Gray.png' %}" width="25%" height="25%">
                        </button>
                    </form> 
                    {% else %}
                    <form action="{% url 'vaccination_card_info' vac_card.id dog.id 10 %}" method="post">
                        {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'img/DogFootPrint-Green.png' %}" width="25%" height="25%">
                            </button>
                    </form>
                    {% endif %}
                </td>
                <td></td>
                <td>
                    {% if vac_card.coronaviruz_4 == False %}
                    <form action="{% url 'vaccination_card_edit' vac_card.id dog.id 11 %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'img/DogFootPrint-Gray.png' %}" width="25%" height="25%">
                        </button>
                    </form> 
                    {% else %}
                    <form action="{% url 'vaccination_card_info' vac_card.id dog.id 11 %}" method="post">
                        {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'img/DogFootPrint-Green.png' %}" width="25%" height="25%">
                            </button>
                    </form>
                    {% endif %}
                </td>
                <td>
                    {% if vac_card.rabies_2 == False %}
                    <form action="{% url 'vaccination_card_edit' vac_card.id dog.id 12 %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'img/DogFootPrint-Gray.png' %}" width="25%" height="25%">
                        </button>
                    </form> 
                    {% else %}
                    <form action="{% url 'vaccination_card_info' vac_card.id dog.id 12 %}" method="post">
                        {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'img/DogFootPrint-Green.png' %}" width="25%" height="25%">
                            </button>
                    </form>
                    {% endif %}
                </td>
                <td>
                    {% if vac_card.kennel_cough_2 == False %}
                    <form action="{% url 'vaccination_card_edit' vac_card.id dog.id 13 %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            <img src="{% static 'img/DogFootPrint-Gray.png' %}" width="25%" height="25%">
                        </button>
                    </form> 
                    {% else %}
                    <form action="{% url 'vaccination_card_info' vac_card.id dog.id 13 %}" method="post">
                        {% csrf_token %}
                            <button type="submit">
                                <img src="{% static 'img/DogFootPrint-Green.png' %}" width="25%" height="25%">
                            </button>
                    </form>
                    {% endif %}
                </td>
            </tr>
        </table>

        {% endblock content %}
    </main>

    <footer>
        <div>
            <p>&copy; 2023 DoggyCare - All rights reserved</p>
        </div>
    </footer>

    

</body>
</html>
