main {
    margin-top: 15px; 
    margin-bottom: 15px;
    margin: auto;
}


/* Applies margin to all elements within main */
main > * {
    margin-top: 15px;
    margin-bottom: 15px;
}


h2 {
    font-family: "Poppins";
    font-size: 24px; 
    color: #333;
    font-weight: bold; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: auto;
  }


.all {
    text-align: center;
    align-items: center;

}

.img {
    align-items: center;
    margin: 0 auto;
    object-fit: cover;
    padding-bottom: 10px;
}

/* Applies style to the search bar and filers*/

.search-record-bar {
    font-family: Georgia, serif;
    display: flex;
    align-items: center;
    padding: 0 50px 0;
    width: 80%;
    margin: auto;
    
}

.search_group{
    align-items: center;
    margin: auto;
    width: 70%;
    position: relative;
    padding-right: 20px;
}

.form-control {
    padding: 5px 10px;
    font-size: 17px;
    border-radius: 5px;
    width: 100%;
    font-family:"Century Gothic";
    border: 2px solid #e0c5a2;
    border-radius: 4px;
    padding-left: 40px;
}

.form-control:focus{
    border: 3px solid rgb(145, 115, 75);;
    outline: none;
}

.fa-magnifying-glass{
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 20px;
    color: #333;
    transform: translateX(-10px);
    transform: translateY(-10px);
}

/* Applies style to the button */

.new-record {
    display: flex;
    font-family: Georgia, serif;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    padding-bottom: 15px;
}


.search-filter{
    position: relative;
    width: 17%;
    margin-right: 5px;

}
/*icon*/
.fa-arrow-down-wide-short{
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 20px;
    color: #000000;
    transform: translateX(-10px);
    transform: translateY(-10px);
}
/*icon*/
.fa-circle-chevron-up{
    position: fixed;
    bottom: 20px;
    right: 4rem;
    width: 2rem;
    font-size: 50px;
}
/*icon*/
.fa-circle-chevron-up:hover{
    transform: scale(1.50);
    transform: translateY(-10%);
}


/*buttons style*/
.btn {
    padding: 5px 10px;
    font-size: 17px;
    text-decoration: none;
    background-color: #e0c5a2;;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family:"Century Gothic";
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(145, 115, 75);
}



/* Applies style to all elements of the medical record visualize */

.records-list {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.record-card {
    border-radius: 8px;
    box-shadow: 0px 1px 10px #e0c5a2;;
    background-color: rgba(145, 115, 75, 0.3);
    border: 2px solid #e0c5a2;;
    overflow: hidden;
    width: 70%;
    margin: 20px;
    float: left;
    padding: auto;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    font-family:"Century Gothic";
    
}

span{
    font-size: 24px; 
    color: #000000;
    font-weight: bold; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: auto;
}

.record-card:hover {
    box-shadow: 10px 10px 30px #e0c5a2;
    transform: scale(1.05); 
}

.record-card .card-content {
    padding: 15px;
    text-align: center;
    word-wrap: break-word;
    flex-grow: 1;
    font-family:"Century Gothic";
}



.edit-button {
    padding: 10px 20px;
    padding-bottom: 10px;
    font-size: 17px;
    text-decoration: none;
    background-color: #e0c5a2;;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    height: 20px;
    font-family:"Century Gothic";
    font-weight: bold;
}


.edit-button:hover {
    background-color: #e0c5a2;;
}
