/* Global styles for main container */
main {
    margin-top: 15px;
    margin-bottom: 15px;
    margin: auto;
}

/* Applies margin to all elements within main */
main > * {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Heading styles */
h2 {
    font-family: "Poppins";
    font-size: 24px;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: auto;
}

/* Styles for the container of all elements */
.all {
    text-align: center;
    align-items: center;
}

/* Styles for the "New News" button */
.new-news {
    display: flex;
    font-family: Georgia, serif;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    padding-bottom: 15px;
}

/* Icon styles */
.fa-circle-chevron-up {
    position: fixed;
    bottom: 20px;
    right: 4rem;
    width: 2rem;
    font-size: 50px;
}

/* Hover styles for the icon */
.fa-circle-chevron-up:hover {
    transform: scale(1.50);
    transform: translateY(-10%);
}

/* Button styles */
.btn {
    padding: 5px 10px;
    font-size: 17px;
    text-decoration: none;
    background-color: rgb(189, 215, 255);
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Century Gothic";
    font-weight: bold;
}

/* Hover styles for the button */
.btn:hover {
    background-color: #86a7d4;
}

/* Styles for the container of news cards */
.news-list {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styles for individual news cards */
.news-card {
    border-radius: 8px;
    box-shadow: 0px 1px 10px #bdd7ff;
    background-color: rgba(189, 215, 255, 0.3);
    border: 2px solid rgb(189, 215, 255);
    overflow: hidden;
    width: 40%;
    min-width: 300px;
    margin: 20px;
    padding: auto;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    font-family: "Century Gothic";
}

/* Styles for the title inside news cards */
span {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: auto;
}

/* Hover styles for news cards */
.news-card:hover {
    box-shadow: 10px 10px 30px #bdd7ff;
    transform: scale(1.05);
}

/* Styles for the content inside news cards */
.news-card .card-content {
    padding: 15px;
    text-align: center;
    word-wrap: break-word;
    flex-grow: 1;
    font-family: "Century Gothic";
}

/* Styles for the edit button */
.edit-button {
    padding: 10px 20px;
    padding-bottom: 10px;
    font-size: 17px;
    text-decoration: none;
    background-color: #bdd7ff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    height: 20px;
    font-family: "Century Gothic";
    font-weight: bold;
}

/* Hover styles for the edit button */
.edit-button:hover {
    background-color: #86a7d4;
}
