
h1 {
    font-size: 28px;
    font-family: Georgia, serif;
    text-align: center;
    margin: 25px;
}

h2 {
    font-size: 24px; 
    color: #333;
    font-weight: bold; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: auto;
  }


.container {
    height: 1000px;
    margin-top: -5px;
    grid-row: 1/3;
    padding: 2%;
    background-color: rgba(189, 215, 255, 0.3);
    border: 2px solid rgb(189, 215, 255);
    width: 80%;
    max-width: 1500px;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}




