<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DoggyCare</title>
        <link rel="stylesheet" href="{% static 'css/accounts/home.css' %}">
        <link rel="icon" type="image/png" href="{% static 'img/logo_tab.png' %}">

    </head>

    <body>
        <!-- Page Header -->
        <header>
            <!-- Icon Container -->
            <div class="container-top-bar">
                <div class="top-bar">
                    <a href={% url 'home' %}>
                        <img src="{% static 'img/logo.png' %}" alt="Logo">
                    </a>
                </div>
            </div>

            <!-- Navigation Bar -->
            <nav class="nav-bar">
                <div class="tabs">
                    <ul>
                        <li><a href={% url 'home' %}>Home</a>
                        <li><a href="#about">About Us</a>
                    </ul>
                </div>  
            </nav>

        </header>

        <!-- Page Main -->
        <main>
            <section class="home">
                <div class="home-main">
                    <div class="home-main-content">
                        <p class="home-main-text">
                            ¡Healthy Paws, Happy Dogs!<br>
                            Embrace our pawsitive journey<br>
                            to take care of your doggy.
                        </p>
                        <a class="home-main-btn" href={% url 'login' %}>Login</a>
                    </div>
                </div>
            </section>


            <section id="about" class="about">
                <div>
                <h1>About Us</h1>
                <div class="about-us">
                    <div class=" about-us-img">
                    <img src="{% static 'img/about.png' %}" alt="About">
                    </div>
                    <div class=" about-us-text">
                        <p> 
                            Driven by our love of animals and our commitment to pet health care, we've created an easy-to-use platform that encourages interaction between dog owners and veterinary clinics. Our mission is to provide pet owners with personalized health insights and predictive analytics, ensuring proactive care and early detection of potential health issues in their puppies.
                        </p>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <p>© 2023 DoggyCare. All rights reserved.</p>
        </footer>
    </body>
</html>