<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/accounts/login.css' %}"> 
    <title>Login</title>
    <link rel="icon" type="image/png" href="{% static 'img/logo_tab.png' %}">
</head>
<body>
    <div class="login-container">
        <a href="{% url 'home' %}">
            <img src="{% static 'img/logo.png' %}" alt="Logo"> <br><br>
        </a>
        <h1>Login</h1> 
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login" class="login-button">
        </form> <br><br>
        <p>Not yet registered?</p>
        <a href="{% url 'vet_signup' %}" class="vet-signup-button">Signup as Vet</a>
        <a href="{% url 'owner_signup' %}" class="owner-signup-button">Signup as Owner</a>
    </div>
</body>
</html>
