
h2 {
    font-size: 24px; 
    color: #333;
    font-weight: bold; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: auto;
  }

/* Applies style to the form */


.custom-form {
    padding: 3%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 2;
}


@media screen and (max-width: 2000px) {
    .form-container {
        margin-top: -5px;
        grid-row: 1/3;
        padding: 2%;
        background-color: rgba(189, 215, 255, 0.3);
        border: 2px solid rgb(189, 215, 255);
        width: 60%;
        max-width: 1300px;
        min-height: 200px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .column {
        flex: 1;
      }
      .img {
        padding: 20px;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        object-fit: cover;
    }
    
    .fields-container {
        width: 70%;
        float: right;
        margin-right: 5%;
    }


    
    .image-form input[type="file"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .clinic-img{
        width: 200px;
        height: 200px;
        border-radius: 50%; 
        object-fit: cover;
        display: block;
        margin: 0 auto;
        border: 8px solid rgb(189, 215, 255);
    }
    
    .field {
        margin-bottom: 26px;
        position: relative;
        width: 100%;
        max-width: 785px;
    }
    .icon {
        position: absolute;
        left: 10px;
        top: 50%;
        font-size: 20px;
        color: #333;
    }

    textarea {
        max-width: 1700px;
        width: 100%;
        max-height: 80px; 
        resize: none;
        border: 2px solid #bdd7ff;
        font-size: 16px;
        font-family:"Century Gothic";
        padding-left: 30px;
        
    }
    textarea:focus {
        border: 3px solid #03689e;
        outline: none;
    }

    .field label {
        display: block;
        font-size: 16px;
        color: #000000;
        margin-bottom: 5px;
        font-family:"Century Gothic";
        font-weight: bold;
        
    }
    
    .field input {
        outline: none;
        font-size: 16px;
        padding-bottom: 5px;
        font-family:"Century Gothic";
        border: 2px solid #bdd7ff;
        border-radius: 4px;
        height: 30px;
        padding-left: 30px;
        width: 100%;
        padding-top: 3px;
    }
    
    .field input:focus {
        border: 3px solid #03689e;
    }

    
    
    /* Applies style to the buttons */
    
    .button-container {
        text-align: center;
    }
    
    button {
        padding: 10px 20px;
        font-family:"Century Gothic";
        font-size: 17px;
        text-decoration: none;
        background-color: #BDD7FF;
        color: #000000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 20px;
        font-weight: bold;
    }
    
    button:hover {
        background-color: #86a7d4;
    }
    
    #cancel-button {
        padding: 10px 20px;
        font-size: 17px;
        text-decoration: none;
        background-color: #BDD7FF;
        color: #000000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 20px;
        font-family:"Century Gothic";
        font-weight: bold;
    }
    
    
    #cancel-button:hover {
        background-color: #86a7d4;
    }
  }






