main {
    margin-top: 15px; 
    margin-bottom: 15px; 
}

/* Applies margin to all elements within main */
main > * {
    margin-top: 15px;
    margin-bottom: 15px;
}


.search-record-bar {
    font-family: Georgia, serif;
    display: flex;
    align-items: center;
    padding: 0 50px 0;
}

.form-control {
    padding: 5px 10px;
    margin-right: 15px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.search-filter{
    width: 10%;
    margin-right: 15px;
}


.new-record {
    display: flex;
    font-family: Georgia, serif;
    align-items: center;
    justify-content: center;
}

.search-filter{
    width: 10%;
    margin-right: 5px;
}

.btn {
    padding: 5px 10px;
    font-size: 17px;
    text-decoration: none;
    background-color: #BDD7FF;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #86a7d4;
}

h1 {
    font-size: 28px;
    font-family: Georgia, serif;
    text-align: center;
    margin: 25px;
    text-transform: uppercase;
}

.records-list {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.record-card {
    border-radius: 8px;
    box-shadow: 0px 1px 10px #bdd7ff;
    overflow: hidden;
    width: 80%;
    margin: 20px;
    float: left;
    padding: auto;
}

.record-card:hover {

    box-shadow: 5px 5px 5px #bdd7ff;

}

.record-card .card-content{
    padding: 15px;
    text-align: center;
}

.record-card h2 {
    text-align: center;
    margin: 5px;
}



.card-button {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
}
