{% load static %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <nav class="nav">
            <div class="nav-links">
                <a href="">MY ACCOUNT</a>
                <a href="">MY PATIENTS</a>
                <a href="">MY APPOINTMENTS</a>
            </div>
        </nav>

        <div class="search-register">
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Search...">
                <button id="search-button">Search</button>
            </div>
        
    </header>
    <a href="{% url 'dog_register' %}" class="btn">Register Dog</a>

    <div class="container">
        {% for dog in dogs %}
        <div class="dog-card">
            <img src="{{ dog.image.url }}" alt="Image">
            <div class="card-content">
                <h2>{{ dog.name }}</h2>
                <p>Owner: {{ dog.owner }} </p>
                <p>Name: {{ dog.name }} </p>
                <p>Age: {{ dog.age }} </p>
                <p>Breed: {{ dog.breed }} </p>
                <p>Weight: {{ dog.weight }} </p>
                <p>Gender: {{ dog.gender }} </p>
                <p>Vaccines: {{ dog.vaccines }} </p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>