<!DOCTYPE html>
{% extends 'base_o.html' %}
{% load static %}

<html lang="en">
<head>
    <!-- Configuration of the page style with the css file -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Appointments {% endblock %}</title>
    {% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/owner/appointments_o.css' %}">
    <script src="https://kit.fontawesome.com/b685c17320.js" crossorigin="anonymous"></script>
    {% endblock additional_styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    

</head>

<body>
   <main>
        {% block content %}
        <!-- Page to show the appointments of a vet -->
        <div class="all"  id="start">
        <h1>Your Appointments</h1>
        
        <!-- show alll the appointments with its respective fields -->
        <div class="appointments-list">
            {% for appointment in appointments %}
            {% if not appointment.attended %}
            <div class="appointment-card">
                <div class="card-content p-3 mx-2">
                    <span>{{ appointment.date }} Appointment</span>
                    <p><strong>Dog:</strong> {{ appointment.dog.name }}</p>
                    <p><strong>Time:</strong> {{ appointment.time }}</p>
                    <p><strong>Appointment Type:</strong> {{ appointment.appointment_type }}</p>
                    <p><strong>Vet:</strong> {{ appointment.vet_id.name }}</p>
                    <p><strong>Clinic:</strong> {{ appointment.clinic_id.name }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!--button to go up un the page-->
        <a href="#start" id="go-up-button"><i class="fa-solid fa-circle-chevron-up fa-bounce" style="color: #e0c5a2; text-shadow: 4px;"></i></a>
    </div>
        {% endblock content %}
    </main>

</body>
</html>
